<%= link_to 'Create a Task', new_user_todo_path(current_user), id: 'create_task_link' %>
<ul id='create_task_menu'>
  <li><%= render partial: 'form', locals: { user: @user, todo: @todo } %></li>
</ul>

<div id="container">

<h2> Your Tasks: </h2>
<div id="todo_title_border"></div>
<ul id='todo_list'>
  <% @user.todos.each do |todo| %>
  <li><input type="checkbox" id=<%= todo.id %> > <%= link_to '', edit_user_todo_path(current_user, todo), class: 'fa fa-pencil edit_task_link' %> <%= todo.description %></li>
  <% end %>
</ul>

</div>
