<!DOCTYPE html>
<html>
<head>
  <title>NcTodo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<% if session[:user_id] %>
<nav>
  <ul>
    <li><%= link_to 'Logout', session_path(current_user), method: :delete, id: 'logout_button' %></li>
  </ul>
</nav>

<% else %>

<nav>
<ul>
  <li><%= link_to 'Login', '#', id: 'login_button' %>
    <ul id='login_menu'>
      <li id='login_error'></li>
      <%= form_for :session, url: sessions_path do |f| %>
      <li><%= f.text_field :email, placeholder: 'Email', size: 14 %></li>
      <li><%= f.password_field :password, placeholder: 'Password', size: 14 %></li>
      <li><%= f.submit 'Login', id: 'login_submit' %></li>
      <% end %>
    </ul>
  </li>

  <li><%= link_to 'Signup', '#', id: 'signup_button' %>
    <ul id='signup_menu'>
      <li id='signup_error'></li>
      <%= form_for :user, url: users_path do |f| %>
      <li><%= f.text_field :email, placeholder: 'Email', size: 14 %></li>
      <li><%= f.password_field :password, placeholder: 'Password', size: 14 %></li>
      <li><%= f.submit 'Signup', id: 'signup_submit' %></li>
      <% end %>
    </ul>
  </li>
</ul>
</nav>
<% end %>

<%= yield %>

</body>
</html>
